body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* Header content */

header {
  background-color: var(--header-color);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
}

.logo {
  height: 60px;
  width: 60px;
  margin: 0 10px;
}

.logo > img {
  width: 100%;
  height: auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
}

.title h2 {
  margin-right: 20px;
  text-decoration: none;
}

@media (max-width: 600px) {
  .title h2 {
    font-size: 20px !important;
  }
}

.customize {
  justify-self: flex-end;
  margin: 0 10px;
}

.themeColorChange {
  border-radius: 40px;
  height: 50px;
  width: 50px;
  background: var(--theme-color);
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.colorOptions {
  display: none;
  width: 100px;
  right: 10px;
  top: 50px;
  position: absolute;
  z-index: 80;
  display: none;
}

.themeColorChange:hover .colorOptions {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.gradientOption {
  color: #000;
  height: 40px;
  width: 100px;
  background-color: white;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

#gradientOption1:hover {
  color: rgba(240, 248, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(2, 20, 42, 1),
    rgba(38, 1, 39, 1),
    rgba(25, 0, 6, 1)
  );
}

#gradientOption2:hover {
  color: rgba(240, 248, 255, 0);
  background: linear-gradient(
    90deg,
    rgb(69, 60, 103),
    rgb(109, 103, 228),
    rgb(70, 194, 203)
  );
}

#gradientOption3:hover {
  color: rgba(240, 248, 255, 0);
  background: linear-gradient(
    90deg,
    rgb(255, 102, 102),
    rgb(255, 204, 102),
    rgb(255, 153, 102)
  );
}

#gradientOption4:hover {
  color: rgba(240, 248, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 189, 136, 1),
    rgba(136, 255, 221, 1),
    rgba(218, 136, 255, 1)
  );
}

/* Main body */
.main {
  width: 100%;
  flex-grow: 1;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theme-dark {
  --header-color: rgb(0, 0, 0);
  --theme-color: linear-gradient(
    rgb(0, 29, 63) 0%,
    rgb(66, 2, 69) 51%,
    rgb(52, 0, 12) 100%
  );
  --theme-color: linear-gradient(
    rgb(0, 29, 63) 0%,
    rgb(66, 2, 69) 51%,
    rgb(52, 0, 12) 100%
  );
  --card-color: rgb(129, 129, 129, 0.4);
  --font-color: rgba(255, 255, 255, 1);
  --search-color: rgba(181, 181, 181, 0.495);
  --popup-color: rgb(0, 29, 63);
  --popup-hover: rgb(66, 2, 69);
  --card-hover: rgba(189, 189, 189, 0.4);
  --scroll-thumb: rgba(206, 206, 206, 0.414);
}

.theme-light {
  --header-color: rgba(120, 100, 200, 1);

  --bg-color: linear-gradient(
    0deg,
    rgb(69, 60, 103),
    rgb(109, 103, 228),
    rgb(70, 194, 203)
  );
  --theme-color: linear-gradient(
    0deg,
    rgb(69, 60, 103),
    rgb(109, 103, 228),
    rgb(70, 194, 203)
  );
  --card-color: rgba(224, 224, 224, 0.611);
  --font-color: rgba(0, 0, 0, 1);
  --search-color: rgba(0, 0, 0, 0.699);
  --popup-color: rgb(70, 194, 203);
  --popup-hover: rgb(109, 103, 228);
  --card-hover: rgba(126, 126, 126, 0.521);
  --scroll-thumb: rgba(226, 226, 226, 0.641);
}

.theme-warm {
  --header-color: rgb(153, 51, 51);
  --bg-color: linear-gradient(
    0deg,
    rgb(255, 102, 102),
    rgb(255, 204, 102),
    rgb(255, 153, 102)
  );
  --theme-color: linear-gradient(
    0deg,
    rgb(255, 102, 102),
    rgb(255, 204, 102),
    rgb(255, 153, 102)
  );
  --card-color: rgba(255, 204, 204, 0.6);
  --font-color: rgb(255, 255, 255);
  --search-color: rgba(204, 102, 102, 0.7);
  --popup-color: rgb(255, 153, 102);
  --popup-hover: rgb(153, 51, 51);
  --card-hover: rgba(255, 153, 153, 0.6);
  --scroll-thumb: rgba(68, 68, 68, 0.504);
}

.theme-pastel {
  --header-color: rgb(150, 106, 252);

  --bg-color: linear-gradient(
    0deg,
    rgb(255, 189, 136),
    rgb(136, 255, 221),
    rgb(218, 136, 255)
  );
  --theme-color: linear-gradient(
    0deg,
    rgb(255, 189, 136),
    rgb(136, 255, 221),
    rgb(218, 136, 255)
  );
  --card-color: rgba(224, 224, 224, 0.611);
  --font-color: rgba(0, 0, 0, 1);
  --search-color: rgba(0, 0, 0, 0.699);
  --popup-color: rgb(218, 136, 255);
  --popup-hover: rgb(136, 255, 221);
  --card-hover: rgba(126, 126, 126, 0.521);
  --scroll-thumb: rgba(255, 255, 255, 0.853);
}

/*editable name */
.tagline {
  align-self: center;
  display: flex;
  flex-direction: row;
  color: var(--font-color);
  font-size: 15px;
}

.tagline i {
  margin-left: 20px;
  align-self: center;
  font-size: 30px;
  color: var(--font-color);
}

.listCards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
}

.listCards::-webkit-scrollbar {
  background-color: rgba(154, 154, 154, 0);
  width: 15px;
  padding: 0px 2px;
  margin: 0px 2px;
}

.listCards::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 10px;
}

@media (max-width: 800px) {
  .listCards::-webkit-scrollbar {
    width: 10px;
  }
}

.listCard {
  width: 20%;
  height: 95%;
  background-color: var(--card-color);
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
}

/*Movies list card styling */
.listCard > #selectedMoviesList {
  overflow-y: auto;
}

.listCard > #selectedMoviesList::-webkit-scrollbar {
  background-color: rgba(154, 154, 154, 0);
  width: 10px;
  padding: 0px 2px;
  margin: 0px 2px;
}

.listCard > #selectedMoviesList::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 10px;
}

.listCard > #selectedMoviesList > div {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(228, 228, 228, 0.51);
  justify-content: space-between;
  align-items: center;
  color: var(--font-color);
}

.listCard > #selectedMoviesList > div:last-of-type {
  border-bottom: none;
}

.listCard > #selectedMoviesList > div:hover {
  background-color: var(--card-hover);
}

.listCard > #selectedMoviesList > div > img {
  margin-right: 20px;
}

.listCard > #selectedMoviesList > div > p {
  font-size: 18px;
}

.listCard > #selectedMoviesList > div > button {
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.listCard > #selectedMoviesList > div > button > i {
  color: var(--font-color);
}

/*Songs list card styling */
.listCard > #selectedSongsList {
  overflow-y: auto;
}

.listCard > #selectedSongsList::-webkit-scrollbar {
  background-color: rgba(154, 154, 154, 0);
  width: 10px;
  padding: 0px 2px;
  margin: 0px 2px;
}

.listCard > #selectedSongsList::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 10px;
}

.listCard > #selectedSongsList > div {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(228, 228, 228, 0.51);
  justify-content: space-between;
  align-items: center;
  color: var(--font-color);
}

.listCard > #selectedSongsList > div:last-of-type {
  border-bottom: none;
}

.listCard > #selectedSongsList > div > img {
  margin-right: 20px;
}

.listCard > #selectedSongsList > div > p {
  font-size: 18px;
}

.listCard > #selectedSongsList > div > button {
  background-color: #ffffff00;
  border: none;
  color: var(--font-color);
  cursor: pointer;
  margin-left: auto;
}

.listCard > #selectedSongsList > div:hover {
  background-color: var(--card-hover);
}

/*Books list card styling */
.listCard > #selectedBooksList {
  overflow-y: auto;
}

.listCard > #selectedBooksList > div:hover {
  background-color: var(--card-hover);
}

.listCard > #selectedBooksList::-webkit-scrollbar {
  background-color: rgba(154, 154, 154, 0);
  width: 10px;
  padding: 0px 2px;
  margin: 0px 2px;
}

.listCard > #selectedBooksList::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 10px;
}

.listCard > #selectedBooksList > div {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(228, 228, 228, 0.51);
  justify-content: space-between;
  align-items: center;
  color: var(--font-color);
}

.listCard > #selectedBooksList > div:last-of-type {
  border-bottom: none;
}

.listCard > #selectedBooksList > div > img {
  left: 5px;
  margin-right: 20px;
}

.listCard > #selectedBooksList > div > p {
  font-size: 18px;
}

.listCard > #selectedBooksList > div > button {
  background-color: #ffffff00;
  border: none;
  color: var(--font-color);
  cursor: pointer;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .listCard {
    width: 25%;
  }
}

@media (max-width: 1000px) {
  .listCard {
    width: 30%;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .listCards {
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
  }
  .listCard {
    width: 70%;
    height: 90%;
  }
}

@media (max-width: 600px) {
  .listCards {
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
  }
  .listCard {
    width: 85%;
  }

  .listCard > #selectedMoviesList::-webkit-scrollbar {
    width: 6px;
  }
  .listCard > #selectedSongsList::-webkit-scrollbar {
    width: 6px;
  }
  .listCard > #selectedBooksList::-webkit-scrollbar {
    width: 6px;
  }
}

.titleContainer {
  height: 40px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 10px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.514);
  margin-bottom: 8px;
}

.titlePart {
  color: var(--font-color);
  font-size: 18px !important;
  font-weight: bold !important;
  width: 80%;
  margin: 5px 0;
  height: 20px;
}

.titlePart > h3 {
  margin-top: 0px;
  font-size: 18px;
}

.downloadbutton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-top: 10px;
}

.downloadbutton i {
  font-size: 25px;
  color: var(--font-color);
}

.addButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  padding-bottom: 10px;
  margin-left: auto;
}

.addButton i {
  font-size: 40px;
  color: var(--font-color);
}

/* search bar and search button */
.searchBar {
  width: 100%;
  height: 88%;
  background-color: var(--search-color);
  display: none;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 80px;
}

.searchComponents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--popup-color);
  border-radius: 40px;
  margin-bottom: 10px;
  margin-top: 80px;
  background-color: var(--popup-color);
  padding: 6px 8px;
  width: 45%;
}

.closeButton {
  background: var(--popup-color);
  border-radius: 100%;
  border: none;
  position: absolute;
  color: #fff; /* Close button color */
  font-size: large;
  top: 30px; /* Adjust this value to control the vertical position */
  left: 20%;
  padding: 4px 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton:focus {
  outline: none; /* Remove focus outline */
}

.searchBar input {
  width: 90%;
  height: 40px;
  border-radius: 40px;
  border: none;
  padding: 0 20px;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  font-size: 20px;
  color: #ffffff;
}

.popupMenu {
  background-color: var(--popup-color);
  color: var(--font-color);
  border-radius: 10px;
  padding: 20px 2px;
  display: none;
  overflow-y: auto;
  margin-bottom: 20px;
  width: 45%;
}

.popupMenu::-webkit-scrollbar {
  background-color: rgba(154, 154, 154, 0);
  width: 10px;
  padding: 0px 2px;
  margin: 0px 2px;
}

.popupMenu::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 10px;
}

.popupMenu div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.popupMenu div:hover {
  background-color: var(--popup-hover);
}

.popupMenu > div > img {
  align-self: flex-start;
  margin: 5px;
}

.popupMenu > div > p {
  align-self: center;
  margin-left: 20px;
}

@media (max-width: 800px) {
  .searchBar {
    height: 88%;
  }

  .searchComponents {
    width: 60%;
  }

  .closeButton {
    left: 18%;
  }

  .popupMenu {
    width: 60%;
  }

  .popupMenu::-webkit-scrollbar {
    width: 6px;
  }
}

/* message to confirm selection is added to list */
.popupMessage {
  top: 50%;
  display: none;
  position: absolute;
  margin-bottom: 10px;
  color: var(--font-color);
  background-color: var(--header-color);
  padding: 10px;
  border-radius: 40px;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  width: 45%;
}
