* {
  font-size: 16px;
}

div,
section {
  padding-bottom: 5px;
}

section {
  margin-bottom: 20px;
}

section:nth-child(2) {
  margin-top: 20px;
}

div {
  padding-top: 20px;
  background-color: aliceblue;
}

#button {
  z-index: 999;
  position: absolute;
  border-radius: 10px;
  border: none;
  background-color: lavender;
  top: 60px;
  padding: 10px 20px;
  font-weight: 600;
  transition: scale 0.4s;
  right: 40px;
  top: 20px;
  box-shadow: 5px 8px #000000;
}

#button:hover {
  background-color: rgb(193, 156, 228);
  scale: 115%;
}
/* ----------------------------------------------------- */

/* SOME CSS PROPERTIES YOU COULD USE

{
    margin: 20px;
    margin: 20%;

    margin-left: ;
    margin-right: ;

    padding-left: 20px;
    padding-right: 20%;
    padding: 0 50px;
    padding: 10px 30px 50px 70px;

    border-width: ;
    border-style: ;
    border-color: ;
    border: 

    font-size: ;
    line-height: ;
    letter-spacing: ;

    text-transform: lowercase;
    text-indent 20px;
    columns: 2;
    column-gap:;

    text-decoration:;
    text-decoration-line: ;
    
    list-style: ;
}

*/
