body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.scroll-container {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.scroll-page {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-page img {
  width: fit-content;
  border-radius: 10px;
}

#button {
  z-index: 999;
  position: absolute;
  border-radius: 10px;
  border: none;
  background-color: lavender;
  top: 60px;
  padding: 10px 20px;
  font-weight: 600;
  transition: scale 0.4s;
  right: 40px;
  top: 20px;
  box-shadow: 5px 8px #000000;
}

#button:hover {
  background-color: rgb(193, 156, 228);
  scale: 115%;
}
